* {
  box-sizing: border-box;
}

html, body, #game-container {
  padding: 0;
  margin: 0;
}

#game-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

  #sky, #water, #ground {
    position: fixed;
    width: 100%;
  }

  #sky {
    height: 100px;
    background: linear-gradient(to bottom, #acd7f7 0%,#badaef 100%);
    top: 0;
    z-index: 10;
  }

  .flipped {
    transform: rotateY(180deg);
  }

  .boat {
    position: absolute;
    top: 75px;
    height: 32px;
    width: 101px;
    z-index: 20;
    transform-origin: middle;
    transition-duration: 150ms;
    transition-property: transform;
  }

    .boat-body {
      position: absolute;
      bottom: 0px;
      width: 70px;
      height: 19px;
    }

      .boat-body-front {
        height: 20px;
        transform: rotate(0deg);
        width: 60px;
        background-color: transparent;
        left: 0;
        border-radius: 80px;
        bottom: -1px;
        border-bottom: 19px solid #BBB;
        box-sizing: content-box;
        position: absolute;
        z-index: 20;
      }

      .boat-body-middle {
        position: absolute;
        height: 18px;
        width: 50px;
        background-color: #BBB;
        left: 20px;
        bottom: 0;
        border-bottom-right-radius: 5px;
        z-index: 20;
        border-style: solid solid none none;
        border-width: 1px;
        border-color: #999;
      }

    .boat-windshield {
      opacity: .8;
      background: white;
      height: 13px;
      width: 18px;
      bottom: 17px;
      position: absolute;
      left: 13px;
      border-top-left-radius: 15px;
      border-top: 1px solid;
      border-left: 1px solid;
      border-right: 1px solid;
      border-style: double;
      border-color: #666;
      z-index: 20;
    }

    .boat-chair {
      z-index: 19;
      width: 4px;
      height: 12px;
      background: rgb(138, 79, 28);
      border-top-left-radius: 1px;
      border-top-right-radius: 4px;
      position: absolute;
      bottom: 16px;
      left: 38px;
      transform: rotateZ(-16deg);
    }

    .boat-fisherman {
      position: absolute;
      bottom: 0px;
    }

      .boat-fisherman-hat {
        background: black;
        height: 2px;
        width: 8px;
        position: absolute;
        left: 45px;
        bottom: 31px;
        transform: rotateZ(-40deg);
        border-top-right-radius: 13px;
      }

      .boat-fisherman-head {
        height: 10px;
        width: 10px;
        background: black;
        border-radius: 5px;
        bottom: 23px;
        position: absolute;
        left: 40px;
      }

      .boat-fisherman-body {
        background: black;
        height: 20px;
        width: 13px;
        border-top-left-radius: 4px;
        transform: rotateZ(-20deg);
        position: absolute;
        left: 45px;
        bottom: 5px;
        border-top-right-radius: 8px;
      }

    .boat-fishing-rod {
      position: absolute;
      bottom: 0px;
    }

      .boat-fishing-rod-pole {
        height: 35px;
        width: 20px;
        left: 66px;
        bottom: 19px;
        border-width: 1px 0px 0px 1px;
        border-color: black;
        border-style: solid;
        border-radius: 28px 0px 0px 0px;
        transform: skewX(-40deg);
        position: absolute;
      }

      .boat-fishing-rod-line {
        background: #999;
        /* height: 149px; */
        width: 0px;
        left: 100px;
        position: absolute;
        top: -54px;
        border-left: 1px dotted #666;
      }

      .boat-fishing-rod-hook {
        border: 1px solid #000;
        height: 13px;
        width: 7px;
        border-style: none solid solid none;
        /* top: 94px; */
        left: 94px;
        position: absolute;
        border-radius: 0 0 75px 75px;
      }

    .boat-engine {
      position: absolute;
      bottom: 0px;
    }

      .boat-propeller {
        position: absolute;
        bottom: 0px;
      }

        .boat-propeller-shaft {
          height: 18px;
          width: 2px;
          background-color: #AAA;
          left: 70px;
          bottom: -8px;
          box-sizing: content-box;
          position: absolute;
          z-index: 20;
          border-radius: 0 0 5px 5px;
        }

        .boat-propeller-blade-1 {
          height: 10px;
          width: 2px;
          background-color: #BBB;
          left: 70px;
          bottom: -13px;
          box-sizing: content-box;
          position: absolute;
          border-radius: 5px;
          transform: rotate(115deg);
          z-index: 20;
        }

        .boat-propeller-blade-2 {
          background-color: #000;
          border-radius: 5px;
          bottom: -14px;
          box-sizing: content-box;
          height: 10px;
          left: 70px;
          position: absolute;
          transform: rotate(-45deg);
          width: 3px;
          z-index: 20;
        }

      .boat-engine-box {
              height: 15px;
              width: 12px;
              background-color: white;
              left: 70px;
              bottom: 10px;
              position: absolute;
              border: 1px solid #EEE;
              border-radius: 2px 8px 3px 0px;
              z-index: 20;
            }

  #water {
    background: linear-gradient(to bottom, #0097D1 0%,#0091FF 100%); /* used to be #0091FF */
    top: 100px;
    bottom: 60px;
    opacity: 0.5;
    z-index: 30;
  }

  #ground {
    height: 60px;
    background-color: #7E624A;
    bottom: 0;
    z-index: 20;
  }
